*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(280px,0,8fr));
    row-gap: 1.5rem;
}

.card{
    width: 300px;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer; 
}

.cardTitle{
    font-size: 1.5rem;
    font-weight: 800;
}

.cardImag{
    width: 1%;
    display: flex;
    object-fit: cover;
}

.cardDescrip{
    font: size 1.2rem;;
}

.cardPrice{
font-size: 1.8rem;
}

.botonAñadido{
    padding: 0.7rem;
    font-size: 0.8rem;
    border-radius: 10px;
}